body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #ffefd5;
    color: darkgray;
    color: rgb(0, 0, 0);
}

p {
    color: hsla(0, 100%, 50%, 0.479);
    color: #00FF00;
    color: #333;
}